.container {
    display: flex;
    flex-direction: row;
}

.upperpats{
    min-width:950px;
    height: 50px;
}
.inputbox{
    width:20%;
    height: 40px;
}
.inputbox input{
    width:auto;
    height:auto;
    outline:none;
}
.inputbox span{
    color:aquamarine;
}