.container{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra do container */
    /*height: 100%;*/
    width: 100%;
}

.content{
    display: flex;
    flex-direction: row;
}

/* Em seu arquivo CSS correspondente */
.welcome {
    font-size: 80px;
    font-weight: 900;
    line-height: 120%; /*separação entre as linhas*/
    color: #007bff; 
    margin-left: 20%;
    margin-bottom: 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
.textintro{
    /*font-size:large;*/
    color: #0b6cff;
    opacity: 0.8;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-right:10% ;

}

.buttons{
    display: flex;
    flex-direction: column;
    color: #0b6cff;
    opacity:0.75;
    font-size: 18px;
    
    width: 50%;
    padding: 6%;
    margin-right: 5%;
    margin-top: 5%;
}

.linksDiv{
    margin-left: 20%;
    margin-bottom: 5%;
}

.links{
    font-size: 40px;
    color: #0b6cff;
    margin-right: 7%;
    opacity: 0.75;
}