.container{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 400px;
    background-color: #fff0bc;
    border-radius: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra do container */
    height: 100%;
    width: 100%;
}

/* Em seu arquivo CSS correspondente */
.welcome {
    font-size: 50px;
    font-weight: 700;
    color: #007bff; 
    margin-left: 10%;
  }
  

.buttons{
    display: flex;
    flex-direction: column;
    width:50%;
    height:4%;
    color: #0b6cff;
    opacity:0.75;
    padding: 6%;
    margin-right: 8%;
}