.container{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 400px;
    background-color: #fff0bc;
    border-radius: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra do container */
    height: 100%;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: row;
}

/* Em seu arquivo CSS correspondente */
.welcome {
    font-size: 70px;
    font-weight: 900;
    color: #007bff; 
    margin-left: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  

.buttons{
    display: flex;
    flex-direction: column;
    color: #0b6cff;
    opacity:0.75;
    padding: 6%;
    margin-right: 8%;
    margin-top: 5%;
}