@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: #0b6cff;
  background-color: #ffe68f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: inherit;
}
a:hover {
  color: #FFFFFF;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 1000px;
  min-height: 100vh;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

button {
  border-radius: 18px;
  border: 1px solid transparent;
  background-color: #0B6CFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  
  cursor: pointer;
  transition: border-color 0.25s;

  margin-bottom: 20%;
  margin-right: 10%;
}
button:hover {
  border-color: #FFFFFF;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #FFFFFF;
  }
  button {
    background-color: #f9f9f9;
  }
}
