@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: #0b6cff;
  background-color: #ffe68f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: inherit;
}
a:hover {
  color: #FFFFFF;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

button {
  border-radius: 18px;
  border: 1px solid transparent;
  background-color: #0B6CFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  height: 60%;
  width: 100%;
  cursor: pointer;
  transition: border-color 0.25s;

  margin-bottom: 25%;
  margin-right: 10%;
}
button:hover {
  border-color: #fff0bc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #FFFFFF;
  }
  button {
    background-color: #f9f9f9;
  }
}

.retangulo_in{
  width: 23%;
  height: 100%;
  position:fixed;
  right:0;
  top:0;
  background-color: #0b6cff;
  animation-name: enter;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transform: translateX(0%);
}

.retangulo_out {
  width: 22%;
  height: 100%;
  position:fixed;
  right:0;
  top:0;
  background-color: #0b6cff;
  animation-name: exit;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transform: translateX(100%);
}

@keyframes enter {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes exit {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
}

