
nav{
    display: flex-block;
    flex-direction: column;
    align-items: space-between;
    /*background-color: yellow;
    background-color: rgba(11, 108, 255, 0.5);*/
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    font-size: 32px;

    height: 100%;
    margin-left: 20px;
    
    
}

nav > *{
    opacity: 1 ;
}

.return {
    margin-top: 30px;
    margin-bottom: 27vh;
}

.navigation {
    list-style-type: none;
    margin: 0;
    /*padding-inline: 20px;*/
}

a.icon {
    color: black;
}