
nav{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    font-size: 32px;

    height: 100%;
    margin-right: 30px;

    
}

nav > *{
    opacity: 1 ;
}

.return {
    margin-top: 40px;
    margin-bottom: 28vh;
}

.navigation {
    list-style-type: none;
    margin: 0;
}

a.icon{
    color: #ffe68f;
}