.contentNsg { 
    display: flexbox;
    flex-direction: column;
    
}
.contentNsg >*{ /* opacidade dos elementos do container*/
    opacity: 1 ;
}

.organizar{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.4); /*background color white com opacity 40%*/
    border-radius: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra do container */
    height: 490px;
    width: 959px;
    max-width: 980px ;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.titulo{
  font-size:58px ;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 3%;
  margin-left: 200px;
  margin-right: 140px;
}

input, select{
    background-color: rgba(11, 108, 255, 0.5);
    border-radius: 50px;
    border-color: transparent;
    width: 20%;
}
input::placeholder{
    color: #fff;
}

input:focus, input:focus-visible {
    outline: 0px;
}

.indiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1.6;
    padding-inline: 5%;
    margin-bottom: 5%;
    margin-inline: 15%;
}

.indiv >p{
    height: fit-content;
}

.indiv>button{
    width: 13%;
    height: min-content;
    padding: 3%;
    margin: 0;
}



.listDiscp{
    background-color: rgba(11, 108, 255, 0.5);
    margin-inline: 27%;
    padding: 20px;
    border-radius: 35px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 50%;
    max-height: 112px;
    overflow: auto;
}
.listDiscp::-webkit-scrollbar{
    width: 9px;
}
.listDiscp::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the track */
  }


li{ 
   /* padding-inline: 2%;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    color: white;
}

li > button{
    width: min-content;
    height: min-content;
    padding: 3%;
    margin: 0;
    font-size: 30px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

li > button:hover{
    color: rgba(255, 0, 0, 0.8);
}

li > button:focus,
li > button:focus-visible{
    outline: 0px
}
