
.contentNsg { 
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.4); /*background color white com opacity 40%*/
    border-radius: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra do container */
    /*height: 100%;*/
    width: 100%;
}
.contentNsg >*{ /* opacidade dos elementos do container*/
    opacity: 1 ;
}

.titulo{
  font-size:50px ;
  font-weight: 800;
}


.indiv{
    display: flex;
    flex-direction: row;
    opacity: 1.6;


}

.navbar{
    margin: 0;
}

li{
    display: flex;
    flex-direction: row;
}